/* medium screen css */


/* typography */

#mainsite-links h2,
#content h1 {
    font-size: 42px;
    line-height: 45px;
    padding-bottom: 24px;
}

.single #content h1 {
    padding-bottom: 12px;
}

#mainsite-links h2 {
    padding-bottom: 0;
}


.home h2,
footer .cards h2 {
    font-size: 36px;
    line-height: 36px;
}


header #primary-nav ul li {
    font-size: 16px;
    line-height: 20px;
}

header #subnav ul li {
    font-size: 15px;
    line-height: 18px;
}

form p,
.privacy,
label,
form ul li select,
form ul li input,
.form textarea,
form input[type=submit],
.page-template-tertiary-php #content h3,
h4,
dl dt,
dl dd,
p,
ul li,
ol li {
    font-size: 18px;
    line-height: 24px;
}


.blog.single .featured p.post-author {
    font-size: 30px;
    line-height: 30px;
}

.tertiary-columns .col p,
.accordion .col p {
    padding-bottom: 15px;
}

.quote-info p,
.cta {
    font-size: 16px;
    line-height: 20px;
}

.cta span {
    font-size: 20px;
}

#content.landing-form .form h3,
.quote-info h3,
blockquote,
.home #content .text-block p,
.cards p,
#mainsite-links .card p {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px;
}

.home #content .text-block.blog p,
footer p,
.footer-links h2,
.footer-links h3,
.footer-links ul li {
    font-size: 19px;
    line-height: 24px;
}

.text-block.white-bg p,
footer .text-block p,
.accordion p,
.home #content .text-block p {
    padding-bottom: 20px;
}

.landing-form h2 span + span {
    padding-top: 10px;
}
#content.landing-form section .form ul li,
.left-content p,
.left-content ul,
.page-template-tertiary-php #content h3,
.text-block p {
    padding-bottom: 10px;
}
#main .post,
.featured .side.post {
    margin-bottom: 30px;
}

#main > h2:first-child {
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;          
    padding: 0 0 19px 0;
    font-size: 25px;
    line-height: 28px;
}


#main {
    padding-top: 40px;
}

#main .post {
    width: 100%;
    clear: both;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #ddd;
    padding: 0 0 19px 0;
    float: left;
}

.pagination {
    clear: both;
    padding: 12px 0 40px;
}

.twitter.button.cta,
.rss.button.cta {
    background-image: none !important;
    padding-right: 15px !important;
    margin-bottom: 30px;
}

.blog #sidebar h2 {
    border-bottom: 0;
}

#sidebar h2 span.cta,
.blog #content .expandable.comment-header .cta {
    margin-top: -2px;           
}

#sidebar ul,
#sidebar ul + div {
    display: none;
}


/* hero post */


.blog .hero.post h2 {
    font-size: 30px;
    line-height: 35px;
}

.blog .hero.post .post-author {
    padding-bottom: 0;
    font-size: 22px;
    line-height: 30px;
}

.blog .hero.post .post-date {
    font-size: 16px;
    line-height: 25px;
}


/* side posts in featured section */

.side.post h2 {
    font-size: 20px;
    line-height: 22px;
}

.blog .side.post .post-author {
    padding-bottom: 0;
    font-size: 18px;
    line-height: 20px;
}

.blog .side.post .post-date {
    font-size: 16px;
}



/* posts below featured area */


.blog #main .post h2 {
    font-size: 22px;
    line-height: 25px;
    padding-bottom: 15px;
}

.blog #main .post .post-author {
    padding-bottom: 0;
    font-size: 20px;
    line-height: 20px;
}

.blog #main .post .post-date {
    font-size: 16px;
}



/* comments */

#main .post {
    position: relative;
}

#main .post .comments {
    position: absolute;
    bottom: 30px;
    right: 0px;
}


/* graphics */

.cards .col {
    padding-top: 165px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#content.landing-form .form h2,
#content .white-bg.text-block:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.form,
#content .text-block.no-cta {
    border-radius: 15px;
}

#content.landing-form .form.col h2 {
    padding: 10px 20px;
}

.site-title,
.site-title a {
    width: 160px;
    height: 60px;
}

.site-title a {
    background: transparent url(../images/baker-electric-solar-logo-480.png) center center no-repeat;
    background-size: 100% auto;
}

form input[type=submit],
.cta.button {
    border-radius: 30px;
}

.cta.bottom,
.cta.button.medium-bottom {
    display: block;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.slides li .play-button {
    position: absolute;
    cursor: pointer;
    height: 160px;
    width: 160px;
    left: 50%;
    top: 50%;
    margin: 0 0 0 -80px;
}

.large-full .col .radius,
.large-full .col > img:first-child {
    width: 100%;
    border-radius: 290px;
    margin-bottom: 15px;
}

#content > section.expanded {
    padding-bottom: 70px;
}

#content .scroll-to-top,
#content .close-button {
    left: 10px;
}

#content .scroll-to-top {
    bottom: -36px;
    width: 160px;
    left: 60px;
}

#content .close-button {
    width: 40px;
    top: 0;
}

.accordion .medium-full {
    padding-bottom: 20px;
}


/* header */

#site-header .nav-email {
    display: none !important;
}

#site-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 900;
}

#site-header #subnav,
#site-header .mobile-trigger {
    display: none !important;
}

#site-header h1,
#site-header ul li,
#site-header ul li a {
    display: block;
    float: left;
}

#site-header ul li a {
    float: none;
    margin: 0;
    width: 100%;
}

#site-header #primary-nav ul {
    display: block;
    float: right;
}

#site-header #primary-nav ul li {
    padding: 0px 0 40px 0;
    margin: 0 20px;
    text-align: center;
}

.blog #site-header  #primary-nav .nav-blog {
    background: transparent url(../images/subnav-blog.png) center bottom no-repeat;
    background-size: 49px auto;
}

#site-header #primary-nav ul li.nav-commercial-solutions {
    margin-right: 0;
}

#site-header #primary-nav ul li span {
    display: block;
}

#site-header #primary-nav #contact-us {
    position: absolute;
    top: 0px;
    right: 40px;
    padding: 0;
    text-align: center;
    height: auto;
    width: 110px;
}

#site-header #primary-nav #contact-us span {
    height: 40px;
    line-height: 40px;
}

#site-header #primary-nav #contact-us > span {
    cursor: pointer;
}

#site-header h1 {
    margin: 30px 0;
}

#site-header #primary-nav ul {
    padding-top: 60px;
}

#site-header #primary-nav #contact-us-details {
    text-align: center;
    display: none;
    position: absolute;
    right: 150px;
    top: 0;
    height: 40px;
    width: 430px;
    padding: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
}

#site-header #primary-nav #contact-us-details li,
#site-header #primary-nav #contact-us-details li a,
#site-header #primary-nav #contact-us-details li span {
    display: inline-block;
    float: none;
    clear: none;
    width: auto;
    line-height: 40px;
    margin: 0 10px;
    padding: 0;
}


/* footer */

.site-title, 
.site-title a {
    display: block;
    text-indent: -9999px;
    float: none;
    margin: 0 auto;
}

footer .site-title,
footer .site-title a {
    width: 240px;
    height: 90px;
}

.footer-links {
    clear: both;
}

footer .legal {
    padding: 40px 0;
    text-align: center;
}

footer .legal p {
    display: inline;
    margin: 0 10px;
}

footer .social, 
footer .logo {
    display: inline-block;
    float: none;
    vertical-align: top;
}

footer .logo {
    margin-right: 40px;
}

footer .logo.sunpower {
    margin-top: 20px;
    background: transparent url(../images/sunpower-elite-dealer-retina.png) center center no-repeat;
}

footer .logo.angies {
    background: transparent url(../images/angies-list-award-retina.jpg) center center no-repeat;
}

footer .logo.bbb {
    background: transparent url(../images/bbb-logo-retina.jpg) center center no-repeat;
}

#site-footer-bottom .logo.baker {
    margin: 20px 0 0 0;
    display: inline-block;
    background: transparent url(../images/baker-electric-inc-logo-retina.png) center center no-repeat;
}

footer .logo.sunpower,
footer .logo.angies,
footer .logo.bbb,
#site-footer-bottom .logo.baker {
    background-size: 100% auto;
}

#site-footer-bottom .left,
#site-footer-bottom .right {
    float: none;
    text-align: center;
}

#site-footer-bottom .right {
    max-width: 550px;
    margin: 0 auto;
}

#site-footer-bottom .social a {
    background-image: url(../images/social-icons-retina.png);
    background-size: 184px auto;
}

#site-footer-bottom .social a.google-plus {
    background-position: -96px 0;
}

#site-footer-bottom .social a.pinterest {
    background-position: -144px 0;
    margin-right: 0;
}

#site-footer-bottom .social a.youtube {
    background-position: -48px -50px;
}



/* forms */

.intro-box {
    border-radius: 15px;
    padding: 10px 20px 5px 20px;
}

.intro-box .halves {
    width: 50%;
    margin: 0;
}

.intro-box .halves .halves {
    width: 40%;
}

.intro-box .halves ul.halves,
.intro-box .halves p.halves:last-child {
    width: 60%;
}

.intro-box .halves p.halves:last-child {
    padding-top: 25px;
}

.form p input[type=submit] {
    padding: 15px 35px 15px 15px !important;
    line-height: 21px;
}

.form h2 + .inline-form:first-child,
.form .inline-form:first-child {
    padding-top: 20px;
}

.cta.link a,
.cta,
#content form input[type=submit] {
    background-image: url(../images/button-double-arrow-tablet.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 10px;
}

#content .expanded .cta {
    background-image: url(../images/button-double-arrow-down.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 10px; 
}

#content .cta.link {
    padding: 0;
}

.cards .cta.bottom,
#content .cta.bottom,
#content .cta.bottom.link a {
    background-image: none;
    padding-right: 15px;
}

#content .cta.bottom.link {
    padding-right: 0;
}

.form h3 {
    padding: 20px 20px 0px;
}

.landing-form .form h3 span {
    display: inline;
}

.form {
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.form h3 {
    text-align: center;
}

#form-contents.thank-you-message,
.form form,
.form > p {
    padding: 0 20px;
}

.form p.privacy {
    padding: 10px 20px 0 20px;
}

.landing-form.orange-blue .form h2 {
    padding: 10px 20px;
    margin-bottom: 20px;
}

.form p:first-child {
    padding-top: 20px;
}

form .col.halves,
.halves input,
.halves label,
.halves textarea {
    width: 100%;
    clear: both;
    margin-left: 0;
}

.landing-form .halves.second {
    padding-top: 0;
}

.form .centered {
    text-align: left;
}

#block-05 .accordion .col.halves {
    padding: 0;
}

#block-05 .accordion .col.halves img {
    display: block;
    margin: 10px auto;
}




.col {
    border: 0px solid rgba(0,0,0,0);
    float: left;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
}

.flex-direction-nav {
    margin: 0 auto;
}

.flex-direction-nav,
.container {
    padding: 0 50px;
}

#site-footer-bottom {
    padding: 40px 0 60px;
}



.blog #content .text-block.orange,
.blog #content .text-block.white-bg,
form input[type=submit],
.tertiary-columns .col,
.accordion .col,
.cta,
.text-block {
    padding-left: 15px;
    padding-right: 15px;
}

.tertiary-columns .col,
.accordion .col,
.text-block.blog {
    padding-right: 0;
}


.cta.left {
    float: left;
    margin: 0 20px 0 -15px;
}




.text-block.blog {
    padding-top: 15px;
}

form input[type=submit],
.cta {
    padding-top: 15px;
    padding-bottom: 15px;
}

.cards .cta,
#content .cta.link a,
#content .cta {
    background-image: url(../images/button-double-arrow.png);
    background-repeat: no-repeat;
    background-size: auto 10px;
    padding: 15px 40px 15px 15px;
    line-height: 12px;    
}

#content .expanded .cta span {
    height: 15px;
    width: 10px;
    background: transparent url(../images/dropdown-double-arrow.png) center bottom no-repeat;
    background-size: 100% auto;
}

#mainsite-links .cards .one {
    background: transparent url(../images/footer-client-reviews.jpg) left top no-repeat;
    background-position: center top;
}

#mainsite-links .cards .two {
    background: transparent url(../images/footer-baker-way.jpg) left top no-repeat;
    background-position: center top;
}

#mainsite-links .cards .three {
    background: transparent url(../images/footer-get-a-quote.jpg) left top no-repeat;
    background-position: center top;
}

#mainsite-links .cards .one,
#mainsite-links .cards .two,
#mainsite-links .cards .three {
    background-size: auto 165px;
}

#mainsite-links .intro,
.cards .col {
    padding-bottom: 40px;
}

.blog #content .cards .white-bg.text-block:first-child,
.cards .text-block {
    height: 205px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#mainsite-links,
#site-footer-bottom {
    padding: 48px 0;
}



.blog .featured {
    padding-top: 160px;
}

.blog.landing #main .post img {
    margin-bottom: 20px;
}

.blog.landing #main .post h2 {
    padding-bottom: 5px;
}



.col.medium-clear {
    clear: both;
    margin-left: 0;
}

.container .col:first-child {
    margin-left: 0;
}


.col {
    margin-left: 3.74251497006%;
}

.medium-col-1 {
    width: 16.6666666667%;
}

.medium-col-2 {
    width: 30.769230769231%;
}

.video-gallery .medium-col-3 {
    width: 48.12874251497%;
}

.medium-col-3 {
    width: 46.634615384615%;
}

.medium-col-4 {
    width: 62.5%;
}

.medium-col-5 {
    width: 83.3333333333%;
}


.blog .medium-col-3 {
    width: 48%;
}

.blog .medium-col-4 {
    width: 64.4%;
}

.medium-fourths .col {
    width: 25%;
    padding-left: 2.884615384615%;
    margin-left: 0;
}


.blog.single #main,
.blog.single #sidebar,
.medium-full {
    margin-left: 0;
    width: 100%;
    clear: both;
    float: none;
}


.blog.single #main {
    padding-bottom: 60px;
}

.share h3 {
    padding-bottom: 10px;
}

.blog .post .comment-header,
.blog .post .share,
.blog .post .post-content,
.blog .post .author-bio {
    float: left;
    width: 100%;
    clear: both;
    padding-bottom: 39px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 40px;
}


.container.main-content-container {
    padding: 0;
}

.container.main-content-container #main,
.container.main-content-container #sidebar {
    padding-left: 50px;
    padding-right: 50px;
}

.share h3,
.share .social {
    float: left;
    padding-bottom: 0;
}


#main .share .social {
    margin: -5px 0 0 3.8%;
}

.related-posts > .col,
.related-posts .post-img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.related-posts > .col {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.related-posts {
    width: 100%;
    clear: both;
    float: left;
    margin-bottom: 10px;
}

.related-posts > .col {
    margin-bottom: 30px;
}

.related-posts .post-img {
    min-height: 8.5em;
}

.related-posts > .col:nth-child(1),
.related-posts > .col:nth-child(3) {
    margin-left: 0;
    clear: both;
}


.single.blog #content .featured {
    padding-top: 120px;
    position: relative;
    background: #f0f0f0;
}

#hero-overlay {
    display: none;
}

.single.blog #content .featured .container:first-child {
    padding: 0;
}

#hero-image {
    width: 100%;
    height: 25em;
    position: relative;
    margin: 0;
    left: 0;
}

#hero-image img {
    display: none;
}

.single.blog .featured {
    padding-bottom: 0;
}

.featured .container.text-container {

    background: transparent url('/images/hero-bg.jpg') center center no-repeat;
    background-size: cover;

}

.single.blog #content .featured h1 {
    margin-top: 40px;
}

.featured .post-author {
    display: block;
    float: left;
    margin: 0 15px 0 0;
}

.featured .post-date {
    float: left;
    margin: 0;
    font-size: 24px !important;
    line-height: 30px !important;
}

.featured .categories {
    clear: both;
    padding: 0px 0 40px;
}

.single.blog #content .container.main-content-container #main > h2:first-child {
    margin-top: 0;
}

@media screen and (max-width: 850px) { 
    .related-posts .col.post-img {
        width: 30.769230769231%;
    }
    .related-posts h4.col {
        width: 62.5%;
    }
}

@media screen and (max-width: 750px) { 
    .related-posts .col.post-img {
        min-height: 8.75em;
    }
    .related-posts h4.col {
        font-size: 16px;
        line-height: 20px;
    }

}

@media screen and (max-width: 720px) {

    #mainsite-links .cards .col {
        clear: both;
        padding: 0 0 0 100px;
        width: 100%;
        border-radius: 15px;
        margin: 0 0 20px 0;
        padding-left: 100px;
    }

    #mainsite-links .text-block {
        padding: 20px;
    }

    #mainsite-links .text-block p {
        padding: 0;
    }

    .cards .text-block {
        height: 125px;
    }

    #mainsite-links .text-block {
        border-top-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 0;
    }

    #mainsite-links .cta {
        border-bottom-left-radius: 0;
    }
    .cards img {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .footer-links {
        padding-top: 10px;
    }
}

@media screen and (max-width: 700px) {
    #site-header #primary-nav ul li {
        margin: 0 15px;
    }
    .site-title,
    .site-title a {
        width: 120px;
        height: 45px;
    }
    #site-header h1 {
        margin: 40px 0 20px 0;
    }
}



