@import url(reset.css);

@import url(fonts.css);
@import url(flexslider.css);

/* standard mobile query */
@import url(small.css) (min-width: 0px) and (max-width: 599px);

/* htc one query */
@import url(small.css) (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3);

/* samsung galaxy s2 query */
@import url(small.css) (device-width: 320px) and (device-height: 534px) and (-webkit-device-pixel-ratio: 1.5);

/* samsung galaxy s3 query */
@import url(small.css) (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2);

/* samsung galaxy s4 query */
@import url(small.css) (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3);

/* lg nexus 4 query */
@import url(small.css) (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2);

/* asus nexus 7 */
@import url(medium.css) (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332);

@import url(medium.css) (min-width: 600px) and (max-width: 899px);
@import url(large.css) (min-width: 900px);


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header,
#content,
footer {
	width: 100%;
	clear: both;
	float: none;
}

.container {
	position: relative;
	float: none;
	clear: both;
	margin: 0 auto;
}

#main:before,
#main:after,
#sidebar:before,
#sidebar:after,
header:before,
#content:before,
footer:before,
header:after,
#content:after,
footer:after,
.container:before,
.container:after {
    content: " ";
    display: table;
}

#main:after,
#sidebar:after,
header:after,
#content:after,
footer:after,
.container:after {
	clear: both;
}

#main,
#sidebar,
header,
#content,
footer,
.container {
	*zoom: 1;
}

a,
a:visited,
a:active,
a:hover {
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* colors

orange = #f27430
orange-yellow = #fda729
yellow = #fecf32
light yellow = #fbf284
blue = #1579a7
bright blue = #3bb0ce
green = #bdbf02
red-orange = #ee4f2e
gray = #5f6062
light gray = #aaaaaa
lightest gray = #a9a9a9

*/

#main h2,
#sidebar h2,
.blog h1,
#sidebar ul li,
input,
form ul li select,
form ul li input,
textarea,
label,
#content section .col ul li,
#content section .col ol li,
h4,
dl dt,
dl dd,
blockquote,
#primary-nav a,
#primary-nav a:visited,
#primary-nav a:hover,
#primary-nav a:active,
p {
	color: #5f6062;
}

#mainsite-links {
	background: #5f6062;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

body {
	background: #fff;
}

a.col h4,
a.col:hover h4,
a,
a:hover {
	-webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a.col h4,
a:link,
a:visited {
	color: #aaa;
}

a.col:active h4,
a:active {
	color: #222;
}

a.col:hover h4,
a:hover {
	color: #333;
}

#mainsite-links .intro h2,
footer a:hover {
	color: #ddd;
}

#mainsite-links .intro p {
	color: #bbb;
}

.text-block.orange a,
form input[type=submit],
a.cta,
a.cta:visited,
a.cta:hover,
a.cta:active,
.cta,
.cta a,
.cta a:visited,
.cta a:hover,
.cta a:active,
.white h2,
.white h3,
.white p {
	color: #fff;
}

.white-bg {
	background: #fff;
}

.white-bg.opacity-85 {
	background: rgba(255, 255, 255, 0.85);
}

#primary-nav a:hover,
.quote-info p {
	color: #aaaaaa;
}

.featured a,
#primary-nav .nav-phone span,
.orange h2,
.orange h3 {
	color: #f27430;
}

form input[type=submit],
.orange.text-block,
#site-header #primary-nav #contact-us-details li.nav-email,
#contact-us,
.orange .cta {
	background-color: #f27430;
}

form input[type=submit]:hover,
.orange .cta:hover {
	background-color: rgba(242, 116, 48, 0.75);
}

.orange-yellow h2,
.orange-yellow h3 {
	color: #fda729;
}
.orange-yellow .cta {
	background-color: #fda729;
}

.orange-yellow .cta:hover {
	background-color: rgba(253, 167, 41, 0.75);
}


.blue h2,
.blue h3 {
	color: #1579a7;
}

.blue .cta {
	background-color: #1579a7;
}

.blue .cta:hover {
	background-color: rgba(21, 121, 167, 0.75);
}

.bright-blue h2,
.bright-blue h3 {
	color: #3bb0ce;
}

.bright-blue .cta {
	background-color: #3bb0ce;
}

.bright-blue .cta:hover {
	background-color: rgba(59, 176, 206, 0.75);
}

.green h2,
.green h3 {
	color: #bdbf02;
}

.green .cta {
	background-color: #bdbf02;
}

.green .cta:hover {
	background-color: rgba(189, 191, 2, 0.75);
}




/* typography */

body {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
.hero.post h2,
h2,
h3 {
	font-family: 'GillSansMTStd-Light', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;
	letter-spacing: -0.015em;

}

h4 {
	font-family: 'GillSansMTStd-Bold', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;	
}

select,
input,
textarea {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;	
}

h2 {
	letter-spacing: -0.02em;
}

h3 {
	font-size: 30px;
	line-height: 32px;
	padding-bottom: 16px;
}

header ul #contact-us {
	line-height: 40px;
}

.text-block + .text-block,
dl dd + dt {
	padding-top: 28px;
}

#content section .col ul,
#content section .col ol {
	padding-left: 20px;
}

footer ul {
	list-style-type: none;
}

.post h2 {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;
}

.text-block.blog h3 {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;	
}

blockquote {
	padding-bottom: 12px;
}

.home #content .quote-info h3 + p {
	padding-bottom: 0;
	margin-bottom: 0;
}

#sidebar h2,
#main > h2:first-child,
.post-meta,
form input[type=submit],
.landing-form .left-content p strong,
.cta {
	font-family: 'GillSansMTStd-Bold', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0;
}

.cta {
	letter-spacing: -1px;
}

h4,
strong {
	font-family: 'GillSansMTStd-Bold', 'Lucida Grande', 'Tahoma', sans-serif;		
}

.small {
	font-size: 12px;
	line-height: 16px;
	padding-top: 20px;
}

.centered {
	text-align: center;
}

/* graphics */

.site-title,
.site-title a {
    display: block;
    text-indent: -9999px;
}

.cta span {
	display: inline-block;
	text-indent: -9999px;
	width: 19px;
	height: 13px;
	margin: -4px 0 0 5px;
	background: transparent url(../images/dropdown-right-double-arrow.png) left center no-repeat;
	background-size: contain;
	vertical-align: middle;
}

.cta a {
	display: block;
}

/*.expanded .cta span {
	background: transparent url(/wp-content/themes/baker/images/dropdown-double-arrow.png) center 4px no-repeat;	
	background-size: auto 20px;
}*/

.border {
	border: 1px solid #ccc;
}


/* et cetera */

.nav-wrapper > ul {
  white-space: nowrap; 
}

#banner .orange.text-block,
.white-bg.text-block {
	padding-top: 20px;
}

#banner .orange.text-block {
	padding-bottom: 20px;
}

.cta,
.cta:hover {
	cursor: pointer;
	-webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.cta.button {
	display: inline-block;
}

.cta.bottom {
	display: block;
	background-image: none;
}


#content {
	overflow: hidden;
}

#mainsite-links,
footer {
	position: relative;
}

footer .logo {
	display: inline-block;
	text-indent: -9999px;
}

footer .sunpower {
	width: 156px;
	height: 60px;
	background: transparent url(../images/sunpower-elite-dealer.png) center center no-repeat;
}

footer .angies {
	width: 65px;
	height: 91px;
	background: transparent url(../images/angies-list-award.jpg) center center no-repeat;
}

footer .bbb {
	width: 76px;
	height: 95px;
	background: transparent url(../images/bbb-logo.png) center center no-repeat;
}

footer .baker {
	width: 191px;
	height: 60px;
	background: transparent url(../images/baker-electric-inc-logo.png) center center no-repeat;
}

footer .sunpower,
footer .angies,
footer .bbb,
footer .baker {
	background-size: 100% auto;
}

footer .social {
    width: 190px;
}

.social a {
    display: block;
    float: left;
}

.social a {
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	margin: 0 10px 10px 0;
	background: transparent url(../images/social-icons.png) left top no-repeat;
}

.social a.twitter {
	background-position: -49px 0;
}

.social a.google-plus {
	background-position: -97px 0;
}

.social a.pinterest {
	background-position: -146px 0;
	margin-right: 0;
}

.social a.yelp {
	background-position: 0px -50px;
}

.social a.youtube {
	background-position: -49px -50px;
}

.social a.linkedin {
	background-position: -97px -50px;
}

.social a.rss {
	background-position: -144px -50px;
	margin-right: 0;
}

footer .logo.baker {
	display: block;
	margin: 30px 0 0 0;
}



.large-full .col {
	word-wrap: break-word;
}

.large-full .col a img {
	float: left;
	margin: 0 5px 20px 0;
}



form ul li,
form p {
	clear: both;
}

form ul li {
	width: 100%;
	float: left;
	clear: both;
}

label,
form ul li input,
textarea {
	display: block;
}

select[multiple="multiple"] {
	min-height: 85px;
}

input,
label,
form ul li input {
	line-height: 30px;
}

input,
form ul li select,
form ul li input,
textarea {
	padding: 10px;
	border: 1px solid #e4e4e4;
	border-radius: 50px;
	width: 100%;
}

form ul li select {
	border-radius: 15px;
}

.cta.link a,
.cta,
form input[type=submit] {
	border: 0;
    background-image: url(../images/button-double-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 13px;
}

.cta.link.bottom a,
.cta.bottom,
.cta.link {
	background-image: none;
}

.expanded .cta {
    background-image: url(../images/button-double-arrow-down.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 13px;	
}

.search input,
.search .button {
	padding: 5px 20px;
	font-size: 16px;
	line-height: 20px;
}




/*blog landing */

.featured {
	background: transparent url(../images/hero-bg.jpg) center center no-repeat;
	background-size: cover;
	padding-bottom: 40px;
}

.featured .post {
	border-radius: 20px;
	overflow: hidden;
}

.hero.post .text-block.white-bg {
	padding: 30px 30px 20px 30px;
}

.blog.landing .hero.post .post-meta {
	padding-bottom: 12px;
}

.post .post-meta {
	padding-bottom: 6px;
}

.post img {
	display: block;
	width: 100%;
}

.side.post h2 {
	padding-top: 0px;
}

.blog.landing .post h2 {
	padding: 0px 0 6px 0;
}

#sidebar h2 {
	padding: 0 0 9px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ddd;				
}

.search {
	position: relative;
	margin-bottom: 30px;
}

.search input[type="text"] {
	padding-right: 100px;
	margin: 0;
}

#content form.search input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	width: 60px;
	padding: 6px 20px 6px 15px !important;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	font-weight: normal;
	background-image: none;
}

#sidebar {
    padding: 40px 40px 3800px;
    background: #f9f9f9;
    margin-bottom: -3760px;
}

#sidebar ul {
	list-style: none;
}

#sidebar .widget {
	margin-bottom: 30px;
}

.widget_woodojo_tweets ul li {
	margin-bottom: 15px;
}

#sidebar .button.cta {
	padding-top: 10px;
	padding-bottom: 10px;			
}

.text-block.orange {
	padding: 10px 30px;
}


#sidebar .time-ago,
.blog #sidebar .author-name {
	font-size: 12px;
	line-height: 18px;
	display: block;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 9px;
	margin-bottom: 10px;
}

#sidebar li:last-child .time-ago,
.blog #sidebar li:last-child .author-name {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.blog .post .post-date {
	font-family: 'GillSansMTStd-Bold';	
	text-transform: uppercase;
}

.blog #sidebar .post-author,
.blog .post .post-author {
	font-family: 'GillSansMTStd-MediumItalic';
}



/* blog */

#main {
	z-index: 3;
}

#sidebar {
	z-index: 1;
}

#sidebar .time-ago,
.blog #sidebar .author-name{
	text-transform: uppercase;
	font-family: 'GillSansMTStd-Medium';
}

.single .featured .post-author {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}

.single .featured .post-date {
	margin-bottom: 15px;
}

#sidebar li:last-child .time-ago,
.blog #sidebar li:last-child .author-name {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.single #main p {
	margin-bottom: 25px;
}




.blog .post .author-photo {
	width: 5em;
	height: 5em;
	border-radius: 10em;
	box-shadow: 0 0 0.625em #eee;
	border: 2px solid #ddd;
	margin-right: 3.8%;
	float: left;
}

.blog .post .author-bio p {
	font-size: 16px;
}


.related-posts > .col {
	background: #f9f9f9;
	position: relative;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.related-posts h4 {
	font-family: 'GillSansMTStd-Medium';
	font-weight: normal;
	padding: 20px;	
}

#sidebar h2,
.blog #content .expandable.comment-header {
	float: left;
	width: 100%;
	clear: both;
}

.blog #content .expandable.comment-header .cta {
	text-indent: -5000px;
	width: 2.5em;
	height: 2.5em;	
	padding: 0;
	background: #f27430 url(../images/button-right.png) center center no-repeat;
	background-size: 0.9375em;
}


#sidebar h2 span,
.blog #content .expandable.comment-header span {
	float: left;
	margin-right: 10px;
	line-height: 1.25em;
}

.post-author .categories {
	display: block;
}


#main .author-bio p,
#main .share .social a {
	margin-bottom: 0;
}

#sidebar h2 .cta.button {
	background: #aaa url(../images/button-right.png) center center no-repeat;
	padding: 12px;
	background-size: 0.75em;
}
