@import url(reset.css);

@import url(fonts.css);
@import url(flexslider.css);

/* standard mobile query */
@import url(small.css) (min-width: 0px) and (max-width: 599px);

/* htc one query */
@import url(small.css) (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3);

/* samsung galaxy s2 query */
@import url(small.css) (device-width: 320px) and (device-height: 534px) and (-webkit-device-pixel-ratio: 1.5);

/* samsung galaxy s3 query */
@import url(small.css) (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2);

/* samsung galaxy s4 query */
@import url(small.css) (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3);

/* lg nexus 4 query */
@import url(small.css) (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2);

/* asus nexus 7 */
@import url(medium.css) (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332);

@import url(medium.css) (min-width: 600px) and (max-width: 899px);
@import url(large.css) (min-width: 900px);


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header,
#content,
footer {
	width: 100%;
	clear: both;
	float: none;
}

.container {
	position: relative;
	float: none;
	clear: both;
	margin: 0 auto;
}

#main:before,
#main:after,
#sidebar:before,
#sidebar:after,
header:before,
#content:before,
footer:before,
header:after,
#content:after,
footer:after,
.container:before,
.container:after {
    content: " ";
    display: table;
}

#main:after,
#sidebar:after,
header:after,
#content:after,
footer:after,
.container:after {
	clear: both;
}

#main,
#sidebar,
header,
#content,
footer,
.container {
	*zoom: 1;
}

a,
a:visited,
a:active,
a:hover {
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* colors

orange = #f27430
orange-yellow = #fda729
yellow = #fecf32
light yellow = #fbf284
blue = #1579a7
bright blue = #3bb0ce
green = #bdbf02
red-orange = #ee4f2e
gray = #5f6062
light gray = #aaaaaa
lightest gray = #a9a9a9

*/

#main h2,
#sidebar h2,
.blog h1,
#sidebar ul li,
input,
form ul li select,
form ul li input,
textarea,
label,
#content section .col ul li,
#content section .col ol li,
h4,
dl dt,
dl dd,
blockquote,
.green .quote-info h3,
#primary-nav a,
#primary-nav a:visited,
#primary-nav a:hover,
#primary-nav a:active,
p {
	color: #5f6062;
}

#mainsite-links {
	background: #5f6062;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

body {
	background: #fff;
}

a.col h4,
a.col:hover h4,
a,
a:hover {
	-webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

a.col h4,
a:link,
a:visited {
	color: #aaa;
}

a.col:active h4,
a:active {
	color: #222;
}

a.col:hover h4,
a:hover {
	color: #333;
}

#mainsite-links .intro h2,
footer a:hover {
	color: #ddd;
}

#mainsite-links .intro p {
	color: #bbb;
}

.text-block.orange a,
form input[type=submit],
.landing-form.orange-white #banner .orange h2,
.landing-form.orange-white #banner .orange p,
#content.landing-form .form h2,
a.cta,
a.cta:visited,
a.cta:hover,
a.cta:active,
.cta,
.cta a,
.cta a:visited,
.cta a:hover,
.cta a:active,
.white h2,
.white h3,
.white p {
	color: #fff;
}

.white-bg {
	background: #fff;
}

.white-bg.opacity-85 {
	background: rgba(255, 255, 255, 0.85);
}

#primary-nav a:hover,
.quote-info p {
	color: #aaaaaa;
}

.featured a,
#form-contents.thank-you-message p:first-child,
.intro-box p,
#content.landing-form section .left-content .col.halves li,
.landing-form p strong,
.landing-form h3,
.solar-benefits .videos .col p,
#primary-nav .nav-phone span,
.solar-benefits .accordion a span,
.solar-benefits #site-header #primary-nav li.nav-solar-benefits a,
.solar-benefits .accordion h3,
.solar-benefits strong,
.solar-benefits #content h2,
.solar-benefits .white-bg h3,
.orange h2,
.orange h3 {
	color: #f27430;
}

form input[type=submit],
.landing-form .cta,
.orange.text-block,
.landing-form .form h2,
#site-header #primary-nav #contact-us-details li.nav-email,
.solar-benefits #subnav,
.solar-benefits .cta,
#contact-us,
.orange .cta {
	background-color: #f27430;
}

form input[type=submit]:hover,
.landing-form .cta:hover,
.solar-benefits .cta:hover,
.orange .cta:hover {
	background-color: rgba(242, 116, 48, 0.75);
}



.orange-yellow h2,
.orange-yellow h3 {
	color: #fda729;
}
.orange-yellow .cta {
	background-color: #fda729;
}

.orange-yellow .cta:hover {
	background-color: rgba(253, 167, 41, 0.75);
}


.solar-benefits #content.secondary-template > section {
	background-color: #fdb72b;
}


.blue h2,
.blue h3 {
	color: #1579a7;
}

.about-baker #content.secondary-template #block-03 .cta,
.about-baker #content.secondary-template #block-05 .cta,
.blue .cta {
	background-color: #1579a7;
}

.about-baker #content.secondary-template #block-03 .cta:hover,
.about-baker #content.secondary-template #block-05 .cta:hover,
.blue .cta:hover {
	background-color: rgba(21, 121, 167, 0.75);
}

span.blue,
.landing-form.orange-blue h2 span:first-child,
.about-baker #site-header #primary-nav li.nav-about-baker a,
.about-baker .videos .col p,
.about-baker #content h2,
.about-baker #content h3,
.bright-blue h2,
.bright-blue h3 {
	color: #3bb0ce;
}

.orange-blue form input[type=submit],
.about-baker #content.secondary-template > section,
.about-baker #subnav,
.about-baker #content .cta,
.bright-blue .cta {
	background-color: #3bb0ce;
}

.orange-blue form input[type=submit]:hover,
.about-baker #content .cta:hover,
.bright-blue .cta:hover {
	background-color: rgba(59, 176, 206, 0.75);
}


.residential #site-header #primary-nav li.nav-residential-solutions a,
.residential .videos .col p,
.residential #content h2,
.residential #content h3,
.residential strong,
.green h2,
.green h3 {
	color: #bdbf02;
}

.residential #content.secondary-template > section,
.residential #subnav,
.residential #content .cta,
.green .cta {
	background-color: #bdbf02;
}

.residential #content .cta:hover,
.green .cta:hover {
	background-color: rgba(189, 191, 2, 0.75);
}



.commercial #site-header #primary-nav li.nav-commercial-solutions a,
.commercial .videos .col p,
.commercial #content h2,
.commercial #content h3 {
	color: #ffa800;
}

.commercial #subnav,
.commercial #content .cta {
	background-color: #ffa800;
}

.commercial #content .cta:hover {
	background-color: rgba(255, 168, 0, 0.75);	
}

.commercial #content.secondary-template > section {
	background-color: #fdcf31;
}

#block-05 .accordion .red-orange,
.landing-form h2,
.red-orange h2,
.red-orange h3 {
	color: #ee4f2e;
}

#block-05 input[type=submit],
.red-orange .cta {
	background-color: #ee4f2e;
}

#block-05 input[type=submit]:hover,
.red-orange .cta:hover {
	background-color: rgba(238, 79, 46, 0.75);
}

.red-orange .cta span {
	color: #fece30;
}

.solar-benefits #content .red h2,
.solar-benefits #content .red h3,
.red h2,
.red h3 {
	color: #f14e23;
}


.solar-benefits .cta span {
	color: #fecf32;
}

.solar-benefits #content #block-05 .accordion h3,
.solar-benefits #content #block-03 .accordion h3,
.solar-benefits .orange-bg .scroll a,
.solar-benefits .orange-bg .scroll a:visited,
.solar-benefits .orange-bg .scroll a:hover,
.solar-benefits .orange-bg .scroll a:active,
.solar-benefits .orange-bg h3 {
	color: #fbf284;
}

.solar-benefits #content #block-05 strong,
.solar-benefits #content #block-03 strong,
.solar-benefits #content #block-05 ul li,
.solar-benefits #content #block-05 ol li,
.solar-benefits #content #block-03 p,
.solar-benefits #content #block-05 p {
	color: #381d00;
}


.intro-box {
	background: #fedd50;
}



/* typography */

body {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
#content.landing-form .left-content p.jumbo,
.hero.post h2,
h2,
h3 {
	font-family: 'GillSansMTStd-Light', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;
	letter-spacing: -0.015em;

}

h4 {
	font-family: 'GillSansMTStd-Bold', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;	
}

select,
.landing-form.orange-blue h2 span:first-child,
input,
textarea,
.tertiary-columns h3,
.accordion h3 {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;	
}

h2 {
	letter-spacing: -0.02em;
}

#content.landing-form .left-content h2:last-child,
h3 {
	font-size: 30px;
	line-height: 32px;
	padding-bottom: 16px;
}

.landing-form .form h2 {
	font-size: 35px;
	line-height: 35px;
}

header ul #contact-us {
	line-height: 40px;
}

.text-block + .text-block,
dl dd + dt {
	padding-top: 28px;
}

#content section .col ul,
#content section .col ol {
	padding-left: 20px;
}

footer ul {
	list-style-type: none;
}

.footer-links h2 + h3,
.footer-links h3 + h3 {
	padding-top: 14px;
}

.footer-links ul {
	padding-bottom: 14px;
}

.footer-links h2,
.footer-links ul:last-child {
	padding-bottom: 0;
}

.footer-links h3 {
	padding-bottom: 0;
}

.post h2 {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;
}
.footer-links h3,
.text-block.blog h3 {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;	
}


.home #content .text-block.blog .byline {
	font-size: 16px;
	line-height: 17px;
	padding-bottom: 13px;
}

.landing-form h3,
.quote-info h3 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;
}

blockquote {
	padding-bottom: 12px;
}

.home #content .quote-info h3 + p {
	padding-bottom: 0;
	margin-bottom: 0;
}

#sidebar h2,
#main > h2:first-child,
.post-meta,
form input[type=submit],
.landing-form .left-content p strong,
.cta {
	font-family: 'GillSansMTStd-Bold', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0;
}

.cta {
	letter-spacing: -1px;
}

.form h2,
.videos .col p,
.footer-links h2,
.page-template-tertiary-php #content h3,
h4,
strong {
	font-family: 'GillSansMTStd-Bold', 'Lucida Grande', 'Tahoma', sans-serif;		
}

.small {
	font-size: 12px;
	line-height: 16px;
	padding-top: 20px;
}

.centered {
	text-align: center;
}

/* graphics */

.site-title,
.site-title a {
    display: block;
    text-indent: -9999px;
}

.cta span {
	display: inline-block;
	text-indent: -9999px;
	width: 19px;
	height: 13px;
	margin: -4px 0 0 5px;
	background: transparent url(../images/dropdown-right-double-arrow.png) left center no-repeat;
	background-size: contain;
	vertical-align: middle;
}

.cta a {
	display: block;
}

/*.expanded .cta span {
	background: transparent url(/wp-content/themes/baker/images/dropdown-double-arrow.png) center 4px no-repeat;	
	background-size: auto 20px;
}*/

.border {
	border: 1px solid #ccc;
}


/* et cetera */

.nav-wrapper > ul {
  white-space: nowrap; 
}

#banner .orange.text-block,
.white-bg.text-block {
	padding-top: 20px;
}

#banner .orange.text-block {
	padding-bottom: 20px;
}

.cta,
.cta:hover {
	cursor: pointer;
	-webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

.cta.button {
	display: inline-block;
}

.cta.bottom {
	display: block;
	background-image: none;
}


#content {
	overflow: hidden;
}
#mainsite-links,
footer {
	position: relative;
}

footer .logo {
	display: inline-block;
	text-indent: -9999px;
}

footer .sunpower {
	width: 156px;
	height: 60px;
	background: transparent url(../images/sunpower-elite-dealer.png) center center no-repeat;
}

footer .angies {
	width: 65px;
	height: 91px;
	background: transparent url(../images/angies-list-award.jpg) center center no-repeat;
}

footer .bbb {
	width: 76px;
	height: 95px;
	background: transparent url(../images/bbb-logo.png) center center no-repeat;
}

footer .baker {
	width: 191px;
	height: 60px;
	background: transparent url(../images/baker-electric-inc-logo.png) center center no-repeat;
}

footer .sunpower,
footer .angies,
footer .bbb,
footer .baker {
	background-size: 100% auto;
}

footer .social {
    width: 190px;
}

.social a {
    display: block;
    float: left;
}

.social a {
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	margin: 0 10px 10px 0;
	background: transparent url(../images/social-icons.png) left top no-repeat;
}

.social a.twitter {
	background-position: -49px 0;
}

.social a.google-plus {
	background-position: -97px 0;
}

.social a.pinterest {
	background-position: -146px 0;
	margin-right: 0;
}

.social a.yelp {
	background-position: 0px -50px;
}

.social a.youtube {
	background-position: -49px -50px;
}

.social a.linkedin {
	background-position: -97px -50px;
}

.social a.rss {
	background-position: -144px -50px;
	margin-right: 0;
}

footer .logo.baker {
	display: block;
	margin: 30px 0 0 0;
}



.large-full .col {
	word-wrap: break-word;
}

.large-full .col a img {
	float: left;
	margin: 0 5px 20px 0;
}


#content .small-full.form,
.form {
	background: #f7f7f7;
}


.landing-form h2 span,
.landing-form h3 span {
	display: block;
}

#content section .col .form ul {
	list-style: none;
	padding-left: 0;
}

.form form:first-child ul {
	padding-top: 20px;
}

form ul li,
form p {
	clear: both;
}

form ul li {
	width: 100%;
	float: left;
	clear: both;
}

label,
form ul li input,
textarea {
	display: block;
}

select[multiple="multiple"] {
	min-height: 85px;
}

input,
label,
form ul li input {
	line-height: 30px;
}

input,
form ul li select,
form ul li input,
textarea {
	padding: 10px;
	border: 1px solid #e4e4e4;
	border-radius: 50px;
	width: 100%;
}

form ul li select {
	border-radius: 15px;
}

.cta.link a,
.cta,
form input[type=submit] {
	border: 0;
    background-image: url(../images/button-double-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 13px;
}

.cta.link.bottom a,
.cta.bottom,
.cta.link {
	background-image: none;
}

.expanded .cta {
    background-image: url(../images/button-double-arrow-down.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 13px;	
}


.inline-form ul li input,
.inline-form ul li textarea {
	max-width: 350px;
}

p.privacy {
	clear: both;
}

#content.landing-form .inline-form ul {
	padding: 0;
}

.submit-button.centered input[type=submit] {
	display: inline-block;
}

.search input,
.search .button,
.home #block-05 .form input,
form .halves li input {
	padding: 5px 20px;
	font-size: 16px;
	line-height: 20px;
}

.intro-box {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.enjoy-electricity-again .intro-box {
	padding-right: 20px;
}

#content.landing-form section .left-content .col.halves {
	padding-left: 0;
	list-style: none;
}

#content.landing-form section .left-content .col.halves,
#content.landing-form section .left-content .col.halves li {
	padding-bottom: 0;
}

.landing-form #banner .text-block h2:last-child {
	padding-bottom: 0;
}

#thank-you {
	display: none;
}
