@import url(./reset.css);

@import url(./fonts.css);
@import url(./flexslider.css);
@import url(./extra-content-styles.css);


/* standard mobile query */
@import url(./small.css) (min-width: 0px) and (max-width: 599px);

/* htc one query */
@import url(./small.css) (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3);

/* samsung galaxy s2 query */
@import url(./small.css) (device-width: 320px) and (device-height: 534px) and (-webkit-device-pixel-ratio: 1.5);

/* samsung galaxy s3 query */
@import url(./small.css) (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2);

/* samsung galaxy s4 query */
@import url(./small.css) (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3);

/* lg nexus 4 query */
@import url(./small.css) (device-width: 384px) and (device-height: 592px) and (-webkit-device-pixel-ratio: 2);

/* asus nexus 7 */
@import url(./medium.css) (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332);

@import url(./medium.css) (min-width: 600px) and (max-width: 899px);
@import url(./large.css) (min-width: 900px);

/* Temporarily hide nav chat */
.nav-chat {
	display: none !important;  
}
.clickandchat.com_chat_link{
position:absolute;
display:none!important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
 margin:0;/*body margin fix */
}

header,
#content,
footer {
	width: 100%;
	clear: both;
	float: none;
}

.container {
	position: relative;
	float: none;
	clear: both;
	margin: 0 auto;
}

.pagination:before,
.pagination:after,
#main:before,
#main:after,
#sidebar:before,
#sidebar:after,
.accordion .medium-full:before,
.accordion .medium-full:after,
header:before,
#content:before,
footer:before,
header:after,
#content:after,
footer:after,
.container:before,
.container:after {
    content: " ";
    display: table;
}

.pagination:after,
#main:after,
#sidebar:after,
.accordion .medium-full:after,
header:after,
#content:after,
footer:after,
.container:after {
	clear: both;
}

.pagination,
#main,
#sidebar,
.accordion .medium-full,
header,
#content,
footer,
.container {
	*zoom: 1;
}

a,
a:visited,
a:active,
a:hover {
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* colors

orange = #f27430
orange-yellow = #fda729
yellow = #fecf32
light yellow = #fbf284
blue = #1579a7
bright blue = #3bb0ce
green = #bdbf02
red-orange = #ee4f2e
gray = #5f6062
light gray = #aaaaaa
lightest gray = #a9a9a9

*/

.blog #main .post-content h3,
#sidebar ul li,
#main h2,
#sidebar h2,
.blog h1,
form ul li select,
form ul li input,
textarea,
label,
.commercial #content #block-03 h2,
.commercial #content #block-05 h2,
.commercial #content #block-03 strong,
.commercial #content #block-05 strong,
.commercial #content #block-03 h3,
.commercial #content #block-05 h3,
.residential #content #block-03 h2,
.residential #content #block-05 h2,
.residential #content #block-03 strong,
.residential #content #block-05 strong,
.residential #content #block-03 h3,
.residential #content #block-05 h3,
.solar-benefits #content #block-05 a,
.solar-benefits #content #block-03 a,
#content section .col ul li,
#content section .col ol li,
h4,
dl dt,
dl dd,
blockquote,
.green .quote-info h3,
#primary-nav a,
#primary-nav a:visited,
#primary-nav a:hover,
#primary-nav a:active,
p {
	color: #5f6062;
}

#site-footer-top {
	background: #5f6062;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
}

body {
	background: #fff;
}

a,
a:hover {
	-webkit-transition: color 1s;
    transition: color 1s;
}

a.col h4,
a:link,
a:visited {
	color: #aaa;
}

a.col:active h4,
a:active {
	color: #222;
}

a.col:active h4,
a:hover {
	color: #333;
}

footer a:hover {
	color: #ddd;
}


#site-footer-top .intro h2,
footer a:hover {
	color: #ddd;
}

#site-footer-top .intro p {
	color: #bbb;
}

.text-block.orange a,
form input[type=submit],
.landing-form.orange-white #banner .orange h2,
.landing-form.orange-white #banner .orange p,
#content.landing-form .form h2,
.home #content .blue h2,
.home #content .blue h3,
.home #content .blue p,
footer h2,
footer h3,
a.cta,
a.cta:visited,
a.cta:hover,
a.cta:active,
.cta,
.cta a,
.cta a:visited,
.cta a:hover,
.cta a:active,
.white h2,
.white h3,
.white p {
	color: #fff;
}

.solar-benefits #content > section#block-02,
.solar-benefits #content > section#block-04,
.solar-benefits #content > section#block-06,
.about-baker #content > section#block-02,
.about-baker #content > section#block-04,
.about-baker #content > section#block-06,
.residential #content > section#block-02,
.residential #content > section#block-04,
.residential #content > section#block-06,
.commercial #content > section#block-02,
.commercial #content > section#block-04,
.commercial #content > section#block-06 {
	background: transparent;
}

.white-bg {
	background: #fff;
}

.white-bg.opacity-85 {
	background: rgba(255, 255, 255, 0.85);
}

#primary-nav a:hover,
.quote-info p {
	color: #aaaaaa;
}

.blog #main .post-content h1,
.blog #main .post-content h2,
.featured a,
#form-contents.thank-you-message p:first-child,
.intro-box p,
#content.landing-form section .left-content .col.halves li,
.landing-form p strong,
.landing-form h3,
.solar-benefits .videos .col p,
#primary-nav .nav-phone span,
.solar-benefits .accordion a span,
.solar-benefits #site-header #primary-nav li.nav-solar-benefits a,
.solar-benefits .accordion h3,
.solar-benefits strong,
.solar-benefits #content h2,
.solar-benefits .white-bg h3,
.orange h2,
.orange h3 {
	color: #f27430;
}

form input[type=submit],
.landing-form .cta,
.orange.text-block,
.landing-form .form h2,
#site-header #primary-nav #contact-us-details li.nav-email,
.solar-benefits #subnav,
.solar-benefits .cta,
#contact-us,
.orange .cta {
	background-color: #f27430;
}

.nav-wrapper > ul {
   white-space: nowrap; 
}

form input[type=submit]:hover,
.landing-form .cta:hover,
.solar-benefits .cta:hover,
.orange .cta:hover {
	background-color: rgba(242, 116, 48, 0.75);
}



.orange-yellow h2,
.orange-yellow h3 {
	color: #fda729;
}
.orange-yellow .cta {
	background-color: #fda729;
}

.orange-yellow .cta:hover {
	background-color: rgba(253, 167, 41, 0.75);
}


.solar-benefits #content.secondary-template > section {
	background-color: #fdb72b;
}


.blue h2,
.blue h3 {
	color: #1579a7;
}

.about-baker #content.secondary-template #block-03 .cta,
.about-baker #content.secondary-template #block-05 .cta,
.blue .cta {
	background-color: #1579a7;
}

.about-baker #content.secondary-template #block-03 .cta:hover,
.about-baker #content.secondary-template #block-05 .cta:hover,
.blue .cta:hover {
	background-color: rgba(21, 121, 167, 0.75);
}

.blog .post-content a,
span.blue,
.landing-form.orange-blue h2 span:first-child,
.about-baker #site-header #primary-nav li.nav-about-baker a,
.about-baker .videos .col p,
.about-baker #content h2,
.about-baker #content h3,
.bright-blue h2,
.bright-blue h3 {
	color: #3bb0ce;
}


.blog .post-content a:hover,
#block-03 a, 
#block-05 a{
	color:#1579a7;
}





#site-header{
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
}

.orange-blue form input[type=submit],
.about-baker #content.secondary-template > section,
.about-baker #subnav,
.about-baker #content .cta,
.bright-blue .cta {
	background-color: #3bb0ce;
}

.orange-blue form input[type=submit]:hover,
.about-baker #content .cta:hover,
.bright-blue .cta:hover {
	background-color: rgba(59, 176, 206, 0.75);
}


.residential #site-header #primary-nav li.nav-residential-solutions a,
.residential .videos .col p,
.residential #content h2,
.residential #content h3,
.residential strong,
.green h2,
.green h3 {
	color: #bdbf02;
}

.residential #content.secondary-template > section,
.residential #subnav,
.residential #content .cta,
.green .cta {
	background-color: #bdbf02;
}

.residential #content .cta:hover,
.green .cta:hover {
	background-color: rgba(189, 191, 2, 0.75);
}



.commercial #site-header #primary-nav li.nav-commercial-solutions a,
.commercial .videos .col p,
.commercial #content h2,
.commercial #content h3 {
	color: #ffa800;
}

.commercial #subnav,
.commercial #content .cta {
	background-color: #ffa800;
}

.commercial #content .cta:hover {
	background-color: rgba(255, 168, 0, 0.75);	
}

.commercial #content.secondary-template > section {
	background-color: #fdcf31;
}

#block-05 .accordion .red-orange,
.landing-form h2,
.red-orange h2,
.red-orange h3 {
	color: #ee4f2e;
}

#block-05 input[type=submit],
.red-orange .cta {
	background-color: #ee4f2e;
}

#block-05 input[type=submit]:hover,
.red-orange .cta:hover {
	background-color: rgba(238, 79, 46, 0.75);
}

.red-orange .cta span {
	color: #fece30;
}

.solar-benefits #content .red h2,
.solar-benefits #content .red h3,
.red h2,
.red h3 {
	color: #f14e23;
}


.solar-benefits .cta span {
	color: #fecf32;
}

.solar-benefits #content #block-05 .accordion h3,
.solar-benefits #content #block-03 .accordion h3,
.solar-benefits .orange-bg .scroll a,
.solar-benefits .orange-bg .scroll a:visited,
.solar-benefits .orange-bg .scroll a:hover,
.solar-benefits .orange-bg .scroll a:active,
.solar-benefits .orange-bg h3 {
	color: #fbf284;
}

.solar-benefits #content #block-05 strong,
.solar-benefits #content #block-03 strong,
.solar-benefits #content #block-05 ul li,
.solar-benefits #content #block-05 ol li,
.solar-benefits #content #block-03 p,
.solar-benefits #content #block-05 p {
	color: #381d00;
}


.intro-box {
	/*background: #fedd50;*/
}



/* typography */

body {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.blog #main .post-content h1,
.blog h1,
.hero.post h2,
#content.landing-form .left-content p.jumbo,
h2,
h3 {
	font-family: 'GillSansMTStd-Light', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;
	letter-spacing: -0.015em;

}

select,
.landing-form.orange-blue h2 span:first-child,
input,
textarea,
.tertiary-columns h3,
.accordion h3 {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;	
}

h2 {
	letter-spacing: -0.02em;
	padding-bottom: 12px;
}

#content.landing-form .left-content h2:last-child,
h3 {
	font-size: 30px;
	line-height: 32px;
	padding-bottom: 16px;
}

.blog #main .post-content h2,
.post h2 {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;
}

.landing-form .form h2 {
	font-size: 35px;
	line-height: 35px;
}

header ul #contact-us {
	line-height: 44px; /* ? 40px */
}

.text-block + .text-block,
dl dd + dt {
	padding-top: 28px;
}

#content section .col ul,
#content section .col ol {
	padding-left: 20px;
}

footer ul {
	list-style-type: none;
}

.footer-links h2 + h3,
.footer-links h3 + h3 {
	padding-top: 14px;
}

.footer-links ul {
	padding-bottom: 14px;
	padding-left: 0!important;
}

.footer-links h2,
.footer-links ul:last-child {
	padding-bottom: 0;
}

.footer-links h3 {
	padding-bottom: 0;
}

.footer-links h3,
.text-block.blog h3 {
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;	
}


.home #content .text-block.blog .byline {
	font-size: 16px;
	line-height: 17px;
	padding-bottom: 13px;
}

.landing-form h3,
.quote-info h3 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;
}

blockquote {
	padding-bottom: 12px;
}

.home #content .quote-info h3 + p {
	padding: 0;
	margin-bottom: 0;
}

#sidebar h2,
#main > h2:first-child,
.post-meta,
form input[type=submit],
.landing-form .left-content p strong,
.cta {
	font-family: 'GillSansMTStd-Bold', 'Lucida Grande', 'Tahoma', sans-serif;	
	font-weight: normal;
	text-transform: uppercase;
}

.cta {
	letter-spacing: -1px;
}

.blog #main .post-content h3,
.form h2,
.videos .col p,
.footer-links h2,
.page-template-tertiary-php #content h3,
h4,
strong {
	font-family: 'GillSansMTStd-Bold', 'Lucida Grande', 'Tahoma', sans-serif;		
}

#sidebar h2 {
	font-size: 16px;
	line-height: 1.25em;
}

.small {
	font-size: 12px;
	line-height: 16px;
	padding-top: 20px;
}

.centered {
	text-align: center;
}

/* graphics */

.site-title,
.site-title a {
    display: block;
    text-indent: -9999px;
}

.cta span {
	display: inline-block;
	text-indent: -9999px;
	width: 19px;
	height: 13px;
	margin: -4px 0 0 5px;
	background: transparent url(/wp-content/themes/baker/images/dropdown-right-double-arrow.png) left center no-repeat;
	background-size: contain;
	vertical-align: middle;
}

.cta a {
	display: block;
}

/*.expanded .cta span {
	background: transparent url(/wp-content/themes/baker/images/dropdown-double-arrow.png) center 4px no-repeat;	
	background-size: auto 20px;
}*/

.border {
	border: 1px solid #ccc;
}


/* et cetera */

#banner .orange.text-block,
.white-bg.text-block {
	padding-top: 20px;
}

#banner .orange.text-block {
	padding-bottom: 20px;
}

.cta,
.cta:hover {
	cursor: pointer;
	-webkit-transition: background-color 1s;
    transition: background-color 1s;
}

.cta.button {
	display: inline-block;
}

.cta.bottom {
	display: block;
	background-image: none;
}

footer .logo {
	display: inline-block;
	text-indent: -9999px;
}

footer .sunpower {
	width: 156px;
	height: 60px;
	background: transparent url(/wp-content/themes/baker/images/sunpower-elite-dealer.png) center center no-repeat;
}

footer .angies {
	width: 65px;
	height: 91px;
	background: transparent url(/wp-content/themes/baker/images/angies-list-award.jpg) center center no-repeat;
}

footer .bbb {
	width: 76px;
	height: 95px;
	background: transparent url(/wp-content/themes/baker/images/bbb-logo.png) center center no-repeat;
}

footer .baker {
	width: 191px;
	height: 60px;
	background: transparent url(/wp-content/themes/baker/images/baker-electric-inc-logo.png) center center no-repeat;
}

footer .sunpower,
footer .angies,
footer .bbb,
footer .baker {
	background-size: 100% auto;
}

footer .social {
    width: 190px;
}

.social a {
    display: block;
    float: left;
}

.social a {
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	margin: 0 10px 10px 0;
	background: transparent url(/wp-content/themes/baker/images/social-icons.png) left top no-repeat;
}

.social a.twitter {
	background-position: -49px 0;
}

.social a.google-plus {
	background-position: -97px 0;
}

.social a.pinterest {
	background-position: -146px 0;
	margin-right: 0;
}

.social a.yelp {
	background-position: 0px -50px;
}

.social a.youtube {
	background-position: -49px -50px;
}

.social a.linkedin {
	background-position: -97px -50px;
}

.social a.rss {
	background-position: -144px -50px;
	margin-right: 0;
}

.post .social a.pinterest {
	margin-right: 10px;
}

.social a.tumblr {
	background: transparent url(/wp-content/themes/baker/images/tumblr.png) center center no-repeat;
}

.logo.baker {
	display: block;
	margin: 30px 0 0 0;
}

.accordion {
	display: none;
	clear: both;
	width: 100%;
}

.large-full .col {
	word-wrap: break-word;
}

.large-full .col a img {
	float: left;
	margin: 0 5px 20px 0;
}

.scroll-to-top,
.close-button {
	display: block;
	cursor: pointer;
	position: absolute;
}

.scroll-to-top {
	bottom: 40px;
}

.close-button {
	top: 40px;
}

section#block-06 .hidden-video,
.unexpanded .scroll-to-top,
.unexpanded .close-button {
	display: none;
}

section#block-06 .hidden-video,
section#block-06 .hidden-video iframe {
	width: 100%;
}


section#block-06 .hidden-video {
	background: rgba(0, 0, 0, 0.5);
}

.video-gallery .videos .col img {
    display: block;
    height: 200px;
    width: 100%;
    margin-bottom: 15px;
    cursor: pointer;
}

.video-gallery .videos .col img.play-button {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -50px;
	opacity: 0.85;
}

.video-gallery .videos .col .thumbnail:hover img.play-button {
	opacity: 1;
}

#content .small-full.form,
.form {
	background: #f7f7f7;
}


.landing-form h2 span,
.landing-form h3 span {
	display: block;
}

#content section .col .form ul {
	list-style: none;
	padding-left: 0;
}

.form form:first-child ul {
	padding-top: 20px;
}

form ul li,
form p {
	clear: both;
}

form ul li {
	width: 100%;
	float: left;
	clear: both;
}

label,
form ul li input,
textarea {
	display: block;
}

select[multiple="multiple"] {
	min-height: 85px;
}

label,
form ul li input {
	line-height: 30px;
}

input,
form ul li select,
form ul li input,
textarea {
	padding: 10px;
	border: 1px solid #e4e4e4;
	border-radius: 50px;
	width: 100%;
}

form ul li select {
	border-radius: 15px;
}

.cta.link a,
.cta,
form input[type=submit] {
	border: 0;
    background-image: url(/wp-content/themes/baker/images/button-double-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 13px;
}

.cta.link.bottom a,
.cta.bottom,
.cta.link {
	background-image: none;
}

.expanded .cta {
    background-image: url(/wp-content/themes/baker/images/button-double-arrow-down.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 13px;	
}


.inline-form ul li input,
.inline-form ul li textarea {
	max-width: 350px;
}

p.privacy {
	clear: both;
}

#content.landing-form .inline-form ul {
	padding: 0;
}

.submit-button.centered input[type=submit] {
	display: inline-block;
}

.home #block-05 .form input,
form .halves li input {
	padding: 5px 20px;
	font-size: 16px;
	line-height: 20px;
}

.intro-box {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.enjoy-electricity-again .intro-box {
	padding-right: 20px;
}

#content.landing-form section .left-content .col.halves {
	padding-left: 0;
	list-style: none;
}

#content.landing-form section .left-content .col.halves,
#content.landing-form section .left-content .col.halves li {
	padding-bottom: 0;
}

.landing-form #banner .text-block h2:last-child {
	padding-bottom: 0;
}

#thank-you {
	display: none;
}

/* ADDED */

.left-arrow {
	background-image: url(/wp-content/themes/baker/images/button-double-arrow-left-3.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: auto 14px;
	width:190px !important;
}

/*
.flex-prev {
	background: url(/wp-content/themes/baker/images/button-double-arrow-left-2.png) center center no-repeat !important;	
	background-size: auto 13px;
}

.flex-next {
	background: url(/wp-content/themes/baker/images/button-double-arrow.png) center center no-repeat !important;
	background-size: auto 13px;
}
*/

#video-gallery-section {
	clear: both;
	float: none;
	width: 100%;
	/* margin-top: 190px; */
	height: 316px;
	position: relative;	
}

.fancy-review {
	position:absolute;
	border: 1px solid white;
	border-radius: 40px;
	background-color: white;
	top:50px;
	left:50px;
	width:250px;
	max-height:450px;
	padding:25px;
}

.fancy-review h3 {
	color:#BDBF02 !important;
	letter-spacing: -0.02em;
	font-family: 'GillSansMTStd-Light', 'Lucida Grande', 'Tahoma', sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 32px;
	color:#BDBF02;
}

.fancy-review p {
	max-height: 400px;
	color: #5f6062;
	font-size: 20px;
	line-height: 22px;
	font-family: 'GillSansMTStd-Medium', 'Lucida Grande', 'Tahoma', sans-serif;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.quoter {
	/* color: #aaaaaa; */
	margin-top:10px;
	font-size:20px;
}

.review-location {
	color: #aaaaaa;
	font-size:20px;
	margin-top:5px;
}

.not-expanding {
	background-image: url(/wp-content/themes/baker/images/button-double-arrow.png) !important;
}

.move-it-right {
	margin-left:25px;
}

.video-gallery #banner {
	max-height: 316px;
}

.fancybox-iframe img {
	max-height: 500px !important;
}

.fancybox-image {
	height: 100% !important;
	max-height: 100% !important;	
}
.alignleft {
	float:left;
	padding:0 1% 1% 0;
}
.alignright{
	float:right;
	padding:0 0 1% 1%;
}
.aligncenter{
	float: none;
	margin: 0 auto 20px auto;
}
.tertiary-columns ul{
	margin-left:2%;
}


/* blog styles */


/*blog landing */

.blog #content {
	overflow: hidden;
}

.featured {
	background: transparent url(../images/hero-bg.jpg) center center no-repeat;
	background-size: cover;
	padding-bottom: 40px;
}

.featured .post {
	border-radius: 20px;
	overflow: hidden;
}

.featured .post .text-block.white-bg,
.hero.post .text-block.white-bg {
	padding: 30px 30px 20px 30px;
}

.blog.landing .hero.post .post-meta {
	padding-bottom: 12px;
}

.post .post-meta {
	padding-bottom: 6px;
}

.post img {
	display: block;
	width: 100%;
	max-width: 100%;
}

#main .post-content .alignleft,
#main .post-content img.alignleft {
	width: auto;
	float: left;
	margin: 0 20px 20px 0;
}

#main .post-content .alignright,
#main .post-content img.alignright {
	width: auto;
	float: right;
	margin: 0 0 20px 20px;
}

.single.blog #main .post-content div.alignright img,
.single.blog #main .post-content div.alignleft img {
	margin-bottom: 0;
}

#main .post-content div.alignright .wp-caption-text,
#main .post-content div.alignleft .wp-caption-text {
	width: 100%;
	padding: 10px 20px;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 14px;
	line-height: 15px;
	background: #f0f0f0;
}

.side.post h2 {
	padding-top: 0px;
}

.blog.landing .post h2 {
	padding: 0px 0 6px 0;
}

#sidebar h2 {
	padding: 0 0 9px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ddd;				
}

.search {
	position: relative;
	margin-bottom: 30px;
}

.search input[type="text"] {
	padding-right: 100px;
	margin: 0;
}

#content form.search input[type="submit"] {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	width: 60px;
	padding: 6px 20px 6px 15px !important;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	font-weight: normal;
	background-image: none;
}

#sidebar {
    padding: 40px 40px 3800px;
    background: #f9f9f9;
    margin-bottom: -3760px;
}

#sidebar ul {
	list-style: none;
}

#sidebar h2,
#sidebar ul,
#sidebar ul li {
	display: block;
	clear: both;
	float: none;
}

#sidebar .popular.widget ul {
	clear: none;
}

#sidebar .widget {
	margin-bottom: 30px;
}

.twitter.widget ul li {
	margin-bottom: 15px;
}

#sidebar .button.cta {
	padding-top: 10px;
	padding-bottom: 10px;			
}


.blog .featured .text-block.orange {
	padding: 10px 30px;
}

.twitter-timestamp,
#sidebar .time-ago,
.blog #sidebar .author-name {
	font-size: 12px;
	line-height: 18px;
	display: block;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 9px;
	margin-bottom: 10px;
}

#sidebar li:last-child .time-ago,
.blog #sidebar li:last-child .author-name {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.blog .post .post-date {
	font-family: 'GillSansMTStd-Bold';	
	text-transform: uppercase;
}

.blog #sidebar .post-author,
.blog .post .post-author {
	font-family: 'GillSansMTStd-MediumItalic';
}



/* blog */

.search input,
.search .button {
	padding: 5px 20px;
	font-size: 16px;
	line-height: 20px;
}

#main {
	z-index: 3;
}

#sidebar {
	z-index: 1;
}

.twitter-timestamp,
#sidebar .time-ago,
.blog #sidebar .author-name{
	text-transform: uppercase;
	font-family: 'GillSansMTStd-Medium';
}

.single .featured .post-author {
	font-size: 30px;
	line-height: 30px;
}

.single .featured .post-date {
	margin-bottom: 15px;
}

#sidebar li:last-child .twitter-timestamp,
#sidebar li:last-child .time-ago,
.blog #sidebar li:last-child .author-name {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.single #main p {
	margin-bottom: 25px;
}

.single.blog #main .post-content img {
    margin-bottom: 20px;
	height: auto !important;
}

p:empty {
	display: none;
}


.blog .post img.avatar {
	width: 5em;
	height: 5em;
	border-radius: 10em;
	box-shadow: 0 0 0.625em #eee;
	border: 2px solid #ddd;
	margin-right: 3.8%;
	float: left;
}

.blog .post .author-bio p {
	font-size: 16px;
}

p.share-icons {
	padding: 0;
}


.related-posts > .col {
	background: #f9f9f9;
	position: relative;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.related-posts h4 {
	font-family: 'GillSansMTStd-Medium';
	font-weight: normal;
	padding: 20px;	
}

#sidebar h2,
.blog #content .expandable.comment-header {
	float: left;
	width: 100%;
	clear: both;
}

.blog #content .expandable.comment-header .cta {
	text-indent: -5000px;
	width: 2.5em;
	height: 2.5em;	
	padding: 0;
	background: #f27430 url(/wp-content/themes/baker/images/button-right.png) center center no-repeat;
	background-size: 0.9375em;
}

.blog #content .expandable.comment-header.opened {
	padding-bottom: 0;
}

.blog #content .expandable.comment-header.opened .cta {
	background: #f27430 url(/wp-content/themes/baker/images/button-double-arrow-down.png) center center no-repeat;
	background-size: auto 0.9375em;
}

.comment-header {
	cursor: pointer;
}

#sidebar h2 span,
.blog #content .expandable.comment-header span {
	float: left;
	margin-right: 10px;
	line-height: 1.25em;
}

.post-author .categories {
	display: block;
}


#main .author-bio p,
#main .share .social a {
	margin-bottom: 0;
}

#sidebar h2 .cta.button {
	background: #aaa url(/wp-content/themes/baker/images/button-right.png) center center no-repeat;
	padding: 12px;
	background-size: 0.75em;
}

.blog #main .post-content p {
	padding: 0;
}

.blog #main .post-content h1 {
	font-size: 40px;
	line-height: 45px;
	margin: 0;
	padding: 12px 0 6px 0;
}

.blog #main .post-content h2 {
	font-size: 30px;
	line-height: 35px;
	padding: 12px 0 6px 0;
}

.blog #main .post-content h3 {
	font-size: 26px;
	line-height: 30px;
}

.blog #content .older.cta.button {
	background: #f27430 url(/wp-content/themes/baker/images/button-double-arrow.png) right center no-repeat;
	background-size: auto 13px;
	padding: 15px 50px 15px 25px;
}

.blog #content .newer.cta.button {
	background: #f27430 url(/wp-content/themes/baker/images/button-double-arrow-left.png) left center no-repeat;
	background-size: auto 13px;
	padding: 15px 25px 15px 50px;
}

.rstw_comma {
	display: none;
}

.twitter-timestamp {
	display: block;
}

.form-allowed-tags {
	padding-bottom: 0;
}

#comments #submit {
	width: auto;
	padding: 15px 50px 15px 25px !important;
}


#site-footer-top .cards .one {
	background: transparent url(/wp-content/themes/baker/images/footer-client-reviews.jpg) left top no-repeat;
}

#site-footer-top .cards .two {
	background: transparent url(/wp-content/themes/baker/images/footer-baker-way.jpg) left top no-repeat;
}

#site-footer-top .cards .three {
	background: transparent url(/wp-content/themes/baker/images/footer-get-a-quote.jpg) left top no-repeat;
}


#site-footer-top .cards .one,
#site-footer-top .cards .two,
#site-footer-top .cards .three {
	background-size: auto 167px;
}
